div#adicionar_item div.container div {
    border-width: 1px; border-color: #0f6e0f;
    border-radius: 100px; border-style: solid;
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
}
div#adicionar_item div.container div input {
    background-color: transparent; 
    border-style: none; width: 100%;
}
div#adicionar_item div.container div button {
    border-radius: 100px; border-style: solid;
    border-color: #0f6e0f; color: white;
    border-width: 1px; background-color: #0f6e0f;
    height: 25px; width: 100px;
}

div#adicionar_item footer button {
    border-radius: 100px; border-style: solid;
    border-color: #0f6e0f; color: #0f6e0f;
    border-width: 1px; background-color: transparent;
    height: 25px; width: 100px;
}
div#adicionar_item footer button#adicionar_a_lista {
    color: white; background-color: #0f6e0f;
}